select{
    border-radius: 20px;
    outline: none
}

.low {
    background-color: greenyellow;

}

.average {
    background-color: orange;
}

.high {
    background-color: red;
}


div.hov div.inner {
    display: none;
}

div.hov:hover div.inner {
    font-size: 15px;
    text-align: left;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    padding: 2px 30px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.68);
    border: 2px solid #666;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}
