.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.87),
            rgba(100, 0, 100, 0.50)
    ),
    url("./common/fone.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: inherit;
}

.header {
    text-align: center;
    border: 1px solid black
}

.toDo {
    display: flex;
    flex-wrap: wrap;
}

.todoList {
    /*width: 700px;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.todoList > div {
    padding: 10px;
}

.filter-active {
    background-color: #ffcbe4;
    border: 1px solid black;
    width: 80px;
    height: 30px;

}

.normal {
    background-color: #f9ff9d;
    width: 80px;
    height: 30px;
    border: 1px solid black;
}

.error {
    border-color: red;
}

.todoList-newTaskForm {
    margin: 20px 20px;
}

.btn {
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: rgb(189, 154, 255);

}

.delete{
    background-color: rgba(255, 124, 87, 0.86);
    border:  black;
    margin: 5px 25px;
    padding: 5px 10px;
    border-radius: 50%;

}

.inpt {
    display: flex;
    align-items: center;
}

